body {
  margin: 0;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.wrapper {
  margin: 0 10%;
  font-family: sans-serif;
  position: relative;
}

.heading {
  text-align: center;
  display: flex;
}
.heading h2 {
  text-transform: uppercase;
}
.heading .heading-container {
  flex-grow: 1;
}
.heading .minicart-btn {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.heading .minicart-btn .number {
  color: white;
  background: red;
  position: absolute;
  left: 18px;
  top: 35px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.products .box {
  border: 1px solid grey;
  max-width: calc(25% - 40px);
  flex-basis: 25%;
  margin: 10px;
  padding: 20px 0;
}
.products .box h4 {
  text-indent: 10px;
  color: grey;
}
.products .price {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  background-color: rgba(212, 203, 203, 0.51);
}
.products .price .triangle {
  height: 24px;
}
.products .price .cart {
  margin-right: 10px;
  cursor: pointer;
}
.products .price p {
  text-indent: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  color: white;
  background-color: rgb(16, 31, 34);
}
.products .price p .strike {
  text-decoration: line-through;
  text-indent: 10px;
  margin-bottom: 0;
  font-size: small;
}
.products .price .basket-icon {
  width: 20px;
  height: 20px;
}
.products .image {
  margin-left: 35px;
  width: 150px;
  height: 150px;
}
.products .first-prod,
.products .third-prod {
  position: relative;
}
.products .first-prod .new-badge-black,
.products .third-prod .new-badge-black {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: black;
  color: white;
  padding: 10px;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 80%;
  right: 80%;
  font-size: smaller;
  text-align: center;
}
.products .sixth-prod {
  position: relative;
}
.products .sixth-prod .new-badge-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: aquamarine;
  color: white;
  padding: 10px;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 80%;
  right: 80%;
  font-size: smaller;
  text-align: center;
}

.page-no {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
}
.page-no a {
  margin-right: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  height: 30px;
  width: 30px;
  background-color: white;
  color: black;
  border: 1px solid rgb(189, 186, 186);
}
.page-no a.active {
  background-color: aquamarine;
  color: white;
}

.minicart-section {
  background-color: #f4f4f4;
  width: 25%;
  border: 1px solid grey;
  position: absolute;
  top: 65px;
  right: 14px;
  height: 472px;
  overflow: auto;
}
.minicart-section .items-info {
  text-align: center;
  padding: 12px 0;
  color: grey;
}
.minicart-section .item-details {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding-bottom: 20px;
}
.minicart-section .item-details .selected-product-details-div {
  display: flex;
  padding: 5px;
}
.minicart-section .item-details .product-image-div {
  width: 40%;
}
.minicart-section .item-details .product-image-div img {
  width: 100%;
}
.minicart-section .item-details .product-description-div {
  padding-left: 11px;
  font-size: 13px;
}
.minicart-section .item-details .product-description-div .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.minicart-section .item-details .product-description-div .product-price-p {
  font-weight: bold;
}
.minicart-section .item-details .product-description-div .product-specs p {
  display: flex;
  justify-content: space-between;
}
.minicart-section .item-details .price-total {
  border-top: 1px solid grey;
  padding: 15px 17px 0 0;
  text-align: end;
  font-weight: bold;
}
.minicart-section .item-details .proceed-btn {
  padding: 12px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: orange;
  color: white;
  border: none;
  margin: 5px;
}
.minicart-section .dilevery-info {
  color: grey;
  text-align: center;
  padding: 30px 0;
  font-size: 12px;
}/*# sourceMappingURL=style4.css.map */